<h1><a href="<%= url.short_url %>"><%= url.short_url %></a></h1>
<p><a href="mailto:?subject=Shortened%20URL&body=<%= url.short_url %>">
Email</a> -- <a href="http://twitter.com/home?status=<%= url.short_url %>">Tweet</a></p>