<div class="sixteen columns">
  <img class="scale-with-grid" src="<%= url %>" />
</div>

<div class="sixteen columns" style="text-align:center;">
  <p><a href="<%= request.url %>"><%=request.url%></a></p>
</div>