<h1><%= Shorten.service_name %></h1>
<ul>
	<li><a href="http://amdavidson.com">posts&#x27a7;</a></li>
	<li><a href="http://twitter.com/amdavidson">tweets&#x27a7;</a></li>
	<li><a href="http://flickr.com/photos/amdavidson">photos&#x27a7;</a></li>
</ul>
