<div id="information">
	<h2>use this site from your browser:</h2>
	<p>
		<a href="javascript:void(location.href='<%= Shorten.base_url %>create/' + encodeURIComponent(location.href));"><%= Shorten.button_text %></a> - Drag this link to your bookmark bar or right click and select "Bookmark This Location."  When you want to shorten a URL, just click on the bookmark!  Hooray!
	</p>
</div>