<div id="information">
				<p>Bookmarklet:
					<a href="javascript:void(window.open('<%= Shorten.base_url %>create/' + encodeURIComponent(location.href)));"><%= Shorten.button_text %></a>
				</p>
			</div>