<div class="twelve columns">
  <h1>amd.im</h1>
</div>
<div class="twelve columns">
  <h4>Recent Links</h4>
  <p>Most recent at the top:</p> 
  <ul>
  <% for url in urls do %>
    <li>
      <a href="<%=url.short_url%>"><%= url.short_url %></a> : <%= url.url %>
      <% if url.image %>
        (image)
      <% end %>
    </li>
  <% end %>
  </ul>
</div>