			<p style="margin-top:100px;text-align:center;"><a href="/new">Shorten URL</a> -- Upload File</p>
			<form method="POST" action="/upload" enctype="multipart/form-data" style="width:400px;margin:0px auto;text-align:center;">
				<input type="file" name="file" size="30" /><br/>
				Embed as image? <input type="checkbox" name="image" /><br/>
				<input type="submit" value="Upload" id="upload" />
			</form>
