			<p style="margin-top:100px;"><a href="/">Shorten URL</a> -- Upload File</p>
			<form method="POST" action="/upload" enctype="multipart/form-data">
				<input type="file" name="file" /><br/>
				Embed as image? <input type="checkbox" name="image" /><br/>
				<input type="submit" value="Upload" id="upload" />
			</form>
