body {
	background-color:#3c3c3c;
	color: #fff;
	text-align: center;
	font-size: 1em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-size: 3em;
	text-shadow: #111 0px 2px 2px;
	padding-top:50px;
	padding-bottom: 50px;
}
a, a:visited {
	color: #fff;
	text-decoration:none;
}
p a {
	text-decoration:underline;
}
a:hover {
	color: #555;
}
ul, li {
	list-style-type: none;
	display: inline;
	padding-left: 25px;
	padding-right: 25px;
	text-shadow: #111 0px 2px 2px;
}
input {
	font-size: 3em;
	text-shadow: #111 0px 2px 2px;
	text-align: center;
}