body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Trebuchet MS', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
	text-align: center;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1 {
	padding-top:250px;
	padding-bottom: 50px;
	font-size:5em;
}

a, a:visited {
	text-decoration:none;
	color: #555555;
}

p a, a:visited {
	color: #003377;
}

a:hover {
	color: #000000;
	border-bottom: 1px dotted #000000;
}

ul, li {
	list-style-type: none;
	display: inline;
	padding-left: 25px;
	padding-right: 25px;
}

input {
	text-align: center;
}